body {
	font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
  	font-weight: 300;
  	text-align: center;
  	background-color: lightblue;

}
.strike-through {
  	text-decoration: line-through;
  	text-decoration-color: red;
  	  
}

.remove-button {
    position: absolute;
    width: 100px;
    height: 25px;
    color: white;
    background-color: darkred;
}

.remove-button:hover {
    background-color: green;
    opacity: 0.7;
    width: 120px;
    height: 30px;
}

.container {
    position: relative;
    max-width: 600px;
    height: auto;
    background-color: darkturquoise;
	box-sizing: border-box;
	transition: 0.5s;
    align-content: center;
}