body {
	font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: orangered;
  	font-weight: 300;
  	text-align: center;
  	background-color: lightblue;

}
.strike-through {
  	text-decoration: line-through;
  	text-decoration-color: red;
  	  
}
.add-button {
    width: 100px;
    height: 25px;
    color: white;
    background-color: lightcoral;
}

.add-button:hover {
    background-color: lightgreen;
    color: black;
}

.remove-button {
    width: 200px;
    height: 25px;
    color: white;
    background-color: lightcoral;
}

.remove-button:hover {
    background-color: lightgreen;
    width: 220px;
    height: 40px;
    color: black;
}

.add-element {
    width: 500px;
    height: 20px;
    border-style: outset;
    border-color: steelblue;
    border-radius: 1px;
}

.container {
    position: relative;
    max-width: 700px;
    height: auto;
    background-color: darkturquoise;
	box-sizing: border-box;
	transition: 0.5s;
    border-style: solid;
    border-color: darkslateblue;
    border-radius: 15px;
}

li {
    border-style: outset;
    border-color: steelblue;
    border-radius: 1px;
    background-color: lightblue;
    color: black;
    max-width: 500px;
}

ul {
    list-style-type: none;
}
